.login{
   display: flex;
   align-items: center;
   justify-content: center;
   //    background-color: rgb(246, 95, 95);
   .wrapper{
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // background-color: black;
        
    }
}