.boximg{
    width: 35%;
    position: relative;
    margin-bottom: 160px;
    img{
        width: 100%;
    }
    .discount{
        top: 0;
        left: 0;
        position: absolute;
        width: 70px;
        height: 40px;
        border: 1px solid red;
        p{
            background-color: white;
            width: 70px;
            height: 25px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: bold;
        }
        .discont{
            background-color: red;
            width: 70px;
            color: white;
            height: 15px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }
    }
    .txt{
        display: flex;
        justify-content: space-between;
        p{
            text-decoration: line-through;
            opacity: 0.6;
        }
    }
}